.sizecard {
width: 18rem;
}

.tcard{
font-family: 'Roboto', sans-serif;
}

.bodyCurriculum{
    background-image:url(../img/paisaje.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:#ffffff;
}

.puntos-clientes{
    color: #7d060a;
    background-color: #7d060a;

}